.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-video-1 {
  width: 1147px;
  left: auto;
  right: -7px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto 0 17px;
}

.u-section-2 .u-text-2 {
  margin-left: 17px;
  margin-right: auto;
  margin-bottom: 60px;
}